.container {
  display: flex;
  flex-direction: column;
}

.infoContainer {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
}
.textContainer {
  flex: 1;
  flex-direction: column;
  gap: 50px;
}
.title {
  font-size: 40px;
  margin-bottom: 50px;
}
.userContainer {
  display: flex;
  gap: 20px;

  flex-direction: row;
}
.user {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--softTextColor);
}
.username {
  font-weight: 500;
  font-size: 20px;
}
.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.userImageContainer {
  width: 50px;
  height: 50px;
  position: relative;
}
.imageContainer {
  flex: 1;
  height: 350px;
  position: relative;
}

.image {
  object-fit: cover;
}
.content {
  display: flex;
  gap: 50px;
}
.posts {
  margin-top: 60px;
  flex: 5;
}
.desc p {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}
@media screen and (max-width: 1536px) {
  .title {
    font-size: 54px;
  }
}
@media screen and (max-width: 1280px) {
  .title {
    font-size: 48px;
  }
}
@media screen and (max-width: 1024px) {
  .imageContainer {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .title {
    font-size: 36px;
  }
  .desc p {
    font-size: 18px;
  }
}
