:root {
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  max-width: 100wv;
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}
.dark {
  --bg: black;
  --textColor: #ddd;
  --softBg: #1f273a;
  --softTextColor: #a6a6a6;
}
.light {
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
}
.container {
  min-height: 100vh;
  background: var(--bg);
  color: var(--textColor);
  /* height: 100vh; */
}
.wrapper {
  max-width: 1534px;
  margin-left: 80px;
  margin-right: 80px;
  /* background: purple; */
  padding-left: 80px;
  padding-right: 80px;
}
@media screen and (max-width: 1534px) {
  .wrapper {
    max-width: 1366px;
  }
}
@media screen and (max-width: 1366px) {
  .wrapper {
    max-width: 1366px;
  }
  @media screen and (max-width: 1280px) {
    .wrapper {
      max-width: 1280px;
    }
  }
}
