.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
.social {
  display: flex;
  gap: 10px;
  flex: 1;
}
.links {
  display: flex;
  flex: 1;
  gap: 10px;
  font-size: 20px;
}
.logo {
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
