.container {
}
.title {
  margin: 50px 0;
}
.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}
.category {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
  width: 15%;
  height: 80px;
  justify-content: center;
  border-radius: 10px;
}
.image {
  border-radius: 50%;
}
.style {
  background-color: #57c4ff31;
}
.fasion {
  background-color: #da85c731;
}
.food {
  background-color: #7fb88133;
}
.travel {
  background-color: #ff795736;
}
.culture {
  background-color: #ffb04f45;
}
.coding {
  background-color: #5e4fff31;
}

@media screen and (max-width: 1280px) {
  .category {
    width: 20%;
  }
}
@media screen and (max-width: 1024px) {
  .category {
    width: 25%;
  }
}
@media screen and (max-width: 768px) {
  .category {
    width: 45%;
  }
}
@media screen and (max-width: 640px) {
  .category {
    width: 100%;
  }
}
